
<!--    sidebar____________________________________________________________________________________________________________-->

<div class="sidebar-container">
  <div class="sidebar-logo">
    Quản lý tòa nhà
    <!--        <img src="../images/logo.png" style="height: 80px"/>-->
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Trang chủ</li>
    <li>
      <a href="#">
        <i class="fa fa-home" aria-hidden="true"></i> Nhà đất
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Tìm mua
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Tìm thuê
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Giá nhà đất
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Môi giới
      </a>
    </li>
    <li class="header">Xem thêm</li>
    <li>
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
             class="bi bi-brightness-alt-high-fill" viewBox="0 0 16 16">
          <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
        </svg>
        Phong thủy
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Nội thất
      </a>
    </li>
    <li class="header">Liên hệ</li>
    <li>
      <a href="#">
        <i class="fa fa-users" aria-hidden="true"></i> Hỗ trợ
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Tự vấn
      </a>
    </li>
  </ul>
</div>


