<!--   LoadMore____________________________________________________________________________________________________________&ndash;&gt;&ndash;&gt;-->
<span *ngIf="checkDeleteFlag==true;else elseBlock" style="color: white">
  hello
</span>
<ng-template #elseBlock>
<div class="content-container" style="padding-top: 120px" >

  <div class="container-fluid">
    <div class="container">
      <h1  style="color: #3f3836;font-weight: bold">CẬP NHẬT NHỮNG THÔNG TIN MỚI NHẤT</h1>

      <h1 >TIN TỨC – SỰ KIỆN</h1>
        <div class="box-container">
          <div class="box">
            <div class="image">
              <img src="../../../assets/images/1.jpg" alt="">
            </div>
            <div class="content">
              <h3>Sự kiện “Frohes Fest” tại Tiktak Coworking Space</h3>
              <p>Kính gửi Quý khách hàng,
                Nhằm tri ân và hòa mình cùng không khí lễ hội mùa cuối năm, Ban quản lý tòa nhà xin gửi đến
                Quý
                khách hàng thông tin về sự kiện “ Frohes Fest” ngày 24 tháng 12 năm 2021 này tại Tiktak
                Coworking
                Space của chúng ta:Nhằm tri ân và hòa mình cùng không khí lễ hội mùa cuối năm</p>
              <div class="icons">
                <span> <i class="fas fa-calendar"></i> 23/02/2022 </span>
                <span> <i class="fas fa-user"></i> by Admin </span>
              </div>
            </div>
          </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/2.jpg" alt="">
        </div>
        <div class="content">
          <h3>Mừng Giáng sinh, tưng bừng ưu đãi lớn chưa từng có</h3>
          <p>Nhân dịp Giáng sinh, Tiktak dành tặng bạn chương trình ưu đãi lớn chưa từng có dành riêng cho
            chỗ
            ngồi linh hoạt:
            – Tặng ngay 1 chỗ ngồi linh hoạt khi đăng ký nhóm 3 người
            – Tặng ngay 1 tuần sử dụng khi ký hợp đồng 2 tháng
            – Tặng ngay 2 tuần sử dụng khi ký hợp đồng 3 tháng</p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 24/02/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/3.jpg" alt="">
        </div>
        <div class="content">
          <h3>Không khí ngày đầu tuần tại Tiktak Coworking Space </h3>
          <p>Không gian làm việc giống như ngôi nhà thứ hai của chúng ta và hầu như không có gì tác động
            tiêu cực
            đến năng suất làm việc hơn sự khó chịu, bí bách. Vì vậy, hãy đảm bảo rằng sự lựa chọn của
            bạn là một
            nơi mà bạn có thể thể hiện trọn vẹn con người mình .Hãy tới với chúng tôi,Hãy tới với chúng tôi</p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 25/02/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/4.jpg" alt="">
        </div>
        <div class="content">
          <h3>Đón nhận “mùa Đông Hà Nội” bằng cả một sự chân tình</h3>
          <p>Chúng tôi cảm ơn Quý khách hàng đã lựac chọn đến làm việc, sử dụng dịch vụ, hòa nhập vào cộng
            đồng
            Diamond Time và xây dựng văn hóa Cộng đồng chung ngày càng tốt và đẹp; Càng trân quý hơn
            tình cảm
            của Quý khách hàng dành cho Diamond Time trong suốt thời gian vừa qua.</p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 26/02/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/5.jpg" alt="">
        </div>
        <div class="content">
          <h3>Ưu đãi 50% căn hộ chuẩn hạng A – Diamond Time Complex</h3>
          <p>Tại sao nên chọn căn hộ dịch vụ tại Diamond Time để lưu trú và làm việc?

            – Không gian sống – làm việc chuẩn hạng A

            – Tận hưởng không gian riêng tư, yên tĩnh tuyệt đối

            – Cung cấp đầy đủ trang thiết bị tiện nghi: điều hoà, nội thất, tủ lạnh, giường ngủ, bếp,
            bàn ghế,
            hệ thống nước… và các dịch vụ dọn phòng</p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 27/02/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/6.jpg" alt="">
        </div>
        <div class="content">
          <h3>Dịch vụ tiêu chuẩn 5 sao ngay tại Trung tâm thành phố Đà Nẵng</h3>
          <p>Toàn bộ nội thất đều sử dụng gỗ tần bì và gỗ xà cừ – những loại gỗ chuyên dùng trong thiết kế
            nội
            thất.

            Thiết kế gác lửng phân chia không gian rõ ràng nhưng vẫn tạo sự liên kết cần thiết, giúp gia
            chủ có
            được sự riêng tư, linh hoạt và ấn tượng trong quá trình sử dụng.linh hoạt và ấn tượng trong
            quá
            trình sử dụng.</p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 28/01/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/7.jpg" alt="">
        </div>
        <div class="content">
          <h3>Sự kiện “Frohes Fest” tại Tiktak Coworking Space</h3>
          <p>Kính gửi Quý khách hàng,
            Nhằm tri ân và hòa mình cùng không khí lễ hội mùa cuối năm, Ban quản lý tòa nhà xin gửi đến
            Quý
            khách hàng thông tin về sự kiện “ Frohes Fest” ngày 24 tháng 12 năm 2021 này tại Tiktak
            Coworking
            Space của chúng ta:Nhằm tri ân và hòa mình cùng không khí lễ hội mùa cuối năm</p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 01/03/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/8.jpg" alt="">
        </div>
        <div class="content">
          <h3>Mừng Giáng sinh, tưng bừng ưu đãi lớn chưa từng có</h3>
          <p>Nhân dịp Giáng sinh, Tiktak dành tặng bạn chương trình ưu đãi lớn chưa từng có dành riêng cho
            chỗ
            ngồi linh hoạt:
            – Tặng ngay 1 chỗ ngồi linh hoạt khi đăng ký nhóm 3 người
            – Tặng ngay 1 tuần sử dụng khi ký hợp đồng 2 tháng
            – Tặng ngay 2 tuần sử dụng khi ký hợp đồng 3 tháng</p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 02/03/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/9.jpg" alt="">
        </div>
        <div class="content">
          <h3>Không khí ngày cuối tuần tại Tiktak Coworking Space</h3>
          <p>hãy đảm bảo rằng sự lựa chọn của bạn là một nơi mà bạn có thể thể hiện trọn vẹn con người
            mình và kích hoạt sự sáng tạo của bạn với đầy đủ các yếu tố như có không khí trong lành để
            thở trang thiết bị chất lượng, ánh sáng lành mạnh văn hóa cộng đồng lành mạnh và thuận tiện
            di chuyển, trao đổi công việc…

          </p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 03/03/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/10.jpg" alt="">
        </div>
        <div class="content">
          <h3>Đón nhận “mùa Đông Hà Nội” bằng cả một sự chân tình</h3>
          <p>Chúng tôi cảm ơn Quý khách hàng đã lựac chọn đến làm việc, sử dụng dịch vụ, hòa nhập vào cộng
            đồng
            Diamond Time và xây dựng văn hóa Cộng đồng chung ngày càng tốt và đẹp; Càng trân quý hơn
            tình cảm
            của Quý khách hàng dành cho Diamond Time trong suốt thời gian vừa qua.Tiktak Coworking Space
            nằm tại vị trí trung tâm quận Hải Châu </p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 04/03/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/11.jpg" alt="">
        </div>
        <div class="content">
          <h3>Ưu đãi 50% căn hộ chuẩn hạng A – Diamond Time Complex</h3>
          <p>Tại sao nên chọn căn hộ dịch vụ tại Diamond Time để lưu trú và làm việc?

            – Không gian sống – làm việc chuẩn hạng A

            – Tận hưởng không gian riêng tư, yên tĩnh tuyệt đối

            – Cung cấp đầy đủ trang thiết bị tiện nghi: điều hoà, nội thất, tủ lạnh, giường ngủ, bếp,
            bàn ghế,
            hệ thống nước… và các dịch vụ dọn phòng, giặt ủi, an ninh 24/24,
            an ninh 24/24</p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 05/03/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="../../../assets/images/12.jpg" alt="">
        </div>
        <div class="content">
          <h3>Dịch vụ tiêu chuẩn 5 sao ngay tại Trung tâm thành phố Đà Nẵng</h3>
          <p>Toàn bộ nội thất đều sử dụng gỗ tần bì và gỗ xà cừ – những loại gỗ chuyên dùng trong thiết kế
            nội
            thất.

            Thiết kế gác lửng phân chia không gian rõ ràng nhưng vẫn tạo sự liên kết cần thiết, giúp gia
            chủ có
            được sự riêng tư, linh hoạt và ấn tượng trong quá trình sử dụng.linh hoạt và ấn tượng trong
            quá
            trình sử dụng.Nhiều dịch vụ tiện ích MIỄN PHÍ</p>
          <div class="icons">
            <span> <i class="fas fa-calendar"></i> 06/03/2022 </span>
            <span> <i class="fas fa-user"></i> by Admin </span>
          </div>
        </div>
      </div>
    </div>
    <div id="load-more"> Xem thêm</div>
  </div>
</div>
</div>


<!--    Slide bootstrap (body)____________________________________________________________________________________________________________-->

<div class="content-container mt-30">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/images/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/5.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--    Quảng cáo 1____________________________________________________________________________________________________________-->

<div class="content-container">
  <div class="container-fluid">
    <div class="container info ">
      <div class="box-container">
        <div class="row ">
          <div class="col-8 info-left">
            <h2 class="info-left-top" style="font-size: 30px">Mang không gian chuyên nghiệp & thoải mái nhất tới khách
              hàng.</h2>
            <p class="info-left-bottom">Mang phong cách kiến trúc hiện đại, Tòa nhà phức hợp Diamond Time
              C0821G1 295 Nguyễn Tất Thành – Đà Nẵng sở
              hữu nội thất gỗ tự nhiên được thiết kế tinh tế, trau chuốt tỉ mỉ đảm bảo mang đến sự hài
              lòng cho khách hàng.</p>
          </div>
          <div class="col-4 info-right">
            <div class="info-right-top">
              <h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-hospital" viewBox="0 0 16 16">
                  <path
                    d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5Zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9h-.5Zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Z"/>
                  <path
                    d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1V1Zm2 14h2v-3H7v3Zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3Zm0-14H6v1h4V1Zm2 7v7h3V8h-3Zm-8 7V8H1v7h3Z"/>
                </svg>
                {{this.floorsDTO}}.0(m<sup>2</sup>)
              </h1>
              <p>Tổng diện tích sử dụng</p>
            </div>
            <div class="info-right-bottom " *ngFor="let floors of floorsList;index as i">
              <div class="row ">
                <div class="col-10 text-start mb-0">
                  <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-check-lg " viewBox="0 0 16 16">
                      <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                    </svg>
                    {{floors.floorName}}:
                  </strong> Tổng diện tích là : {{floors.floorArea}} (m<sup>2</sup>)
                </div>
                <div class="col-2 text-end mb-2">
                  <button [disabled]="this.checkDeleteFlag == false" id="delete-button" type="button"
                          class="btn btn-light " data-toggle="modal"
                          data-target="#exampleModal"
                          (click)="openDialog(floors.floorId)">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--    Quảng cáo 2____________________________________________________________________________________________________________-->

<div class="content-container">
  <div class="container-fluid">
    <div class="container info-2">
      <div class="box-container">
        <div class="row ">
          <div class="col-4">
            <img src="../../../assets/images/13.jpg" alt=""/>
          </div>
          <div class="col-8">
            <h1>Vị thế Trung tâm – Nâng tầm thương hiệu</h1>
            <p>Tọa lạc tại C0821G1 295 Nguyễn Tất Thành, quận Hải Châu – trung tâm thành phố, nơi có sự
              phát triển sầm uất bậc nhất
              Đà Nẵng, C0821G1 sở hữu vị trí “vàng” với hai mặt tiền, thuận tiện cho việc giao thương
              và di
              chuyển.</p>
            <div class="row">
              <div class="col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-hospital-fill" viewBox="0 0 16 16">
                  <path
                    d="M6 0a1 1 0 0 0-1 1v1a1 1 0 0 0-1 1v4H1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h6v-2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V16h6a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1h-3V3a1 1 0 0 0-1-1V1a1 1 0 0 0-1-1H6Zm2.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM2.25 9h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 2 9.75v-.5A.25.25 0 0 1 2.25 9Zm0 2h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5ZM13.25 9h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25Z"/>
                </svg>
                <span>VỊ TRÍ
                        THUẬN TIỆN</span>
              </div>
              <div class="col-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-building" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                  <path
                    d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                </svg>
                <span>
                        KẾT NỐI
                        DOANH NGHIỆP</span>
              </div>
            </div>
            <p>Chỉ 5 phút đi bộ, khách hàng dễ dàng tiếp cận trung tâm hành chính quan trọng, công trình
              tiện ích và
              điểm tham quan du lịch cùng các dịch vụ tiện ích, giải trí…</p>
            <button>
              Xem chi tiết
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--    Quảng cáo 3____________________________________________________________________________________________________________-->

<div class="content-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 ">
        <div class="footer-top">
          <div class="footer-top-center">
            <img src="../../../assets/images/you.png" alt="" class="logo">
            <strong>
              <h1>QUÝ KHÁCH MUỐN THAM QUAN TRẢI NGHIỆM
                TẠI C0821G1</h1>
              <h3>HÃY GỌI NGAY CHO CHÚNG TÔI</h3>
            </strong>
            <button> 0801.23.45.67</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-template>
